
* {
    box-sizing: border-box;
  }
  
  body {
    padding: 0;
    margin: 0;
    font-family: "Rubik", sans-serif;
  }
  
  strong {
    padding: 0;
    margin: 0;
  }
  
  label,
  a {
    text-decoration: none;
    color: #555;
  }
  
  ul {
    list-style: none;
    padding: 0;
  }
  
  header {
    box-shadow: 2px 9px 49px -17px rgba(0, 0, 0, 0.3);
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 10;
  }
  
  .header-content-top {
    background: rgb(150, 24, 24);
    height: 30px;
    width: 100%;
  }
  .header-content-top .content {
    align-items: center;
    display: flex;
    height: 30px;
    justify-content: flex-end;
    margin: 0 auto;
    max-width: 1300px;
    width: 100%;
  }
  .header-content-top .content span {
    color: #fff;
    font-size: 12px;
    margin: 0 15px;
  }
  .header-content-top .content span .fas {
    margin-right: 5px;
  }
  
  .container {
    align-items: center;
    display: flex;
    height: 70px;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 1300px;
    padding: 0 15px;
    position: relative;
    width: 100%;
  }
  .container .logo {
    width: 90px;
    height: 70px;
    line-height: 20px;
    padding-right: 15px;
  }
  .container .open-search {
    border-radius: 3px;
    flex: auto;
    margin: 0 15px;
    overflow: hidden;
    position: relative;
  }
  @media (max-width: 991px) {
    .container .open-search {
      margin: 0;
      position: static;
      text-align: right;
    }
  }
  .container .open-search .fa-search {
    display: none;
  }
  @media (max-width: 991px) {
    .container .open-search .fa-search {
      display: block;
    }
  }
  .container .open-search .input-open-search {
    display: none;
  }
  .container .open-search .input-open-search:checked ~ .search {
    display: block;
  }
  @media (max-width: 991px) {
    .container .search {
      display: none;
      position: absolute;
      left: 0;
      top: 70px;
      width: 100%;
      z-index: 999;
    }
  }
  .container .search .input-search {
    border-radius: 3px;
    border: 1px solid #e1e1e1;
    height: 40px;
    padding: 0 70px 0 15px;
    width: 100%;
    background: white no-repeat;
    transition: 100ms all linear 0s;
    background-image: linear-gradient(to bottom, rgba(77, 97, 252, 0.63) 0%, #4d61fc 90%), linear-gradient(to bottom, #e1e1e1, #e1e1e1);
    background-size: 0 2px, 100% 1px;
    background-position: 50% 100%, 50% 100%;
    transition: background-size 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
  }
  .container .search .input-search:focus {
    background-size: 100% 2px, 100% 1px;
    outline: none;
  }
  .container .search .button-search {
    background: rgb(150, 24, 24);
    border: 0;
    color: #fff;
    cursor: pointer;
    padding: 13px 20px;
    position: absolute;
    right: 0px;
    top: 0px;
  }
  .container .search .button-search .fa-search {
    display: block;
  }
  .container .nav-content .nav-content-list {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 0 15px;
  }
  .container .nav-content .nav-content-list .nav-content-item {
    align-items: center;
    display: flex;
    height: 40px;
    margin: 0 5px;
    position: relative;
    transition: 100ms all linear 0s;
  }
  @media (max-width: 991px) {
    .container .nav-content .nav-content-list .nav-content-item {
      padding: 0 5px;
    }
  }
  .container .nav-content .nav-content-list .nav-content-item .item-arrow {
    margin-left: 5px;
    position: relative;
    top: -3px;
  }
  @media (max-width: 768px) {
    .container .nav-content .nav-content-list .nav-content-item .item-arrow {
      display: none;
    }
  }
  .container .nav-content .nav-content-list .nav-content-item .open-menu-login-account {
    align-items: center;
    cursor: pointer;
    display: flex;
    position: relative;
  }
  .container .nav-content .nav-content-list .nav-content-item .input-menu {
    display: none;
  }
  .container .nav-content .nav-content-list .nav-content-item .input-menu:checked ~ .login-list {
    display: block;
  }
  .container .nav-content .nav-content-list .nav-content-item .login-list {
    background: #fff;
    border-bottom: 3px solid rgb(150, 24, 24);
    border-radius: 3px;
    box-shadow: 2px 9px 49px -17px rgba(0, 0, 0, 0.3);
    display: none;
    overflow: hidden;
    position: absolute;
    right: 0;
    top: 28px;
    transition: 100ms all linear 0s;
    width: 200px;
    z-index: 10;
  }
  .container .nav-content .nav-content-list .nav-content-item .login-list .login-list-item {
    padding: 15px 20px;
  }
  .container .nav-content .nav-content-list .nav-content-item .login-list .login-list-item:hover {
    background: rgb(150, 24, 24);
  }
  .container .nav-content .nav-content-list .nav-content-item .login-list .login-list-item:hover a {
    color: #fff;
  }
  
  .container .nav-content .nav-content-list .account-login .login-text {
    align-items: end;
    display: flex;
    flex-direction: column;
    font-size: 12px;
    margin-left: 5px;
  }
  @media (max-width: 991px) {
    .container .nav-content .nav-content-list .account-login .login-text {
      display: none;
    }
  }
  .container .nav-content .nav-content-list .account-login .login-text strong {
    display: block;
  }
  .container .nav-content .nav-content-list .nav-content-link {
    border-radius: 3px;
    font-size: 19px;
    padding: 10px 15px;
    transition: 100ms all linear 0s;
  }
  @media (max-width: 991px) {
    .container .nav-content .nav-content-list .nav-content-link {
      padding: 0;
    }
  }
  
  .nav-container {
    align-items: center;
    display: flex;
    margin: 0 auto;
    max-width: 1300px;
    width: 100%;
  }
  .nav-container .nav-row {
    align-items: center;
    display: flex;
    height: 40px;
    justify-content: space-between;
    margin: 0;
    padding: 0;
  }
  @media (max-width: 991px) {
    .nav-container .nav-row {
      display: none;
    }
  }
  .nav-container .nav-row .nav-row-list {
    flex: auto;
  }
  .nav-container .nav-row .nav-row-list .nav-row-list-link {
    align-items: center;
    display: flex;
    height: 40px;
    justify-content: center;
    transition: 100ms all linear 0s;
  }
  .nav-container .nav-row .nav-row-list .nav-row-list-link:hover {
    background: #e1e1e1;
    width: 100%;
  }
  .nav-container .featured-menu {
    flex: auto;
    margin: 0 15px 0 0;
  }
  @media (max-width: 991px) {
    .nav-container .featured-menu {
      display: none;
    }
  }
  .nav-container .all-navigator {
    align-items: center;
    background: rgb(150, 24, 24);
    color: #fff;
    display: flex;
    height: 40px;
    padding: 0 25px;
    width: 100%;
  }
  @media (max-width: 991px) {
    .nav-container .all-navigator {
      margin-right: 0;
    }
  }
  .nav-container .all-navigator .fa-angle-up,
  .nav-container .all-navigator .fa-angle-down {
    position: absolute;
    right: 25px;
  }
  .nav-container .all-navigator .fa-angle-up {
    display: none;
  }
  .nav-container .all-navigator .fas {
    font-size: 16px;
    margin-right: 0;
  }
  .nav-container .all-navigator span {
    margin-left: 15px;
  }
  .nav-container .all-categories-nav {
    cursor: pointer;
    max-width: 300px;
    position: relative;
    width: 100%;
  }
  @media (max-width: 991px) {
    .nav-container .all-categories-nav {
      max-width: 100%;
    }
  }
  .nav-container .all-categories-nav .open-menu-all {
    align-items: center;
    cursor: pointer;
    display: flex;
    position: relative;
  }
  .nav-container .all-categories-nav .input-menu-all {
    display: none;
  }
  .nav-container .all-categories-nav .input-menu-all:checked ~ .all-categories-list {
    display: block;
  }
  .nav-container .all-categories-nav .input-menu-all:checked + .all-navigator .fa-angle-down {
    display: none;
  }
  .nav-container .all-categories-nav .input-menu-all:checked + .all-navigator .fa-angle-up {
    display: block;
  }
  .nav-container .all-categories-list {
    background: #fff;
    border-bottom: 3px solid rgb(150, 24, 24);
    box-shadow: 2px 9px 49px -17px rgba(0, 0, 0, 0.3);
    display: none;
    height: auto;
    min-height: 170px;
    padding: 15px 0;
    position: absolute;
    top: 24px;
    width: 300px;
    z-index: 90;
  }
  @media (max-width: 991px) {
    .nav-container .all-categories-list {
      min-width: 100%;
    }
  }
  .nav-container .all-categories-list-item:hover {
    display: block;
    background: rgb(150, 24, 24);
  }
  .nav-container .all-categories-list-item:hover .categories-second-list {
    left: 100%;
    opacity: 1;
    visibility: visible;
  }
  .nav-container .all-categories-list-item:hover .all-categories-list-link {
    color: #fff;
  }
  .nav-container .all-categories-list-link {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 15px;
    transition: 100ms all linear 0s;
  }
  .nav-container .categories-second-list {
    background: #fff;
    border-bottom: 3px solid rgb(150, 24, 24);
    box-shadow: inset 44px -1px 88px -59px rgba(0, 0, 0, 0.37);
    display: flex;
    height: 180px;
    left: 80%;
    min-height: 180px;
    min-width: 400px;
    opacity: 0;
    position: absolute;
    top: 0;
    transition: 100ms all linear 0s;
    visibility: hidden;
    width: auto;
  }
  @media (max-width: 991px) {
    .nav-container .categories-second-list {
      display: none;
    }
  }
  .nav-container .categories-second-list .img-product-menu img {
    max-width: 180px;
  }
  .nav-container .categories-second-list-ul {
    display: flex;
    flex-direction: column;
    min-width: 400px;
    padding: 0 15px;
  }
  .nav-container .categories-second-item a {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 15px;
  }
  .nav-container .categories-second-item:hover {
    background: rgb(150, 24, 24);
  }
  .nav-container .categories-second-item:hover a {
    color: #fff;
  }
  
  .fa-bars {
    font-size: 28px;
  }
  
  .slideshow {
    list-style-type: none;
  }
  
  /** SLIDESHOW **/
  .slideshow,
  .slideshow:after { 
      top: 150px; 
      object-fit: contain;
      position: center;
      width: 1536px;
      height: 400px;
      left: 0px;
      z-index: 0; 
  }
  
  .slideshow li span { 
      position: absolute;
      object-fit: contain;
      width: 1536px;
      height: 400px;
      top: 150px;
      left: 0px;
      color: transparent;
      opacity: 0;
      z-index: 0;
      animation: imageAnimation 30s linear infinite 0s; 
  }
  
  .slideshow li:nth-child(1) span { 
      background-image: url("C:/facultate/an3/web design/motouau/images/slider1.jpg"); 
  }
  .slideshow li:nth-child(2) span { 
      background-image: url("C:/facultate/an3/web design/motouau/images/slider2.jpg");
      animation-delay: 6s; 
  }
  .slideshow li:nth-child(3) span { 
      background-image: url("C:/facultate/an3/web design/motouau/images/slider3.jpg");
      animation-delay: 12s; 
  }
  .slideshow li:nth-child(4) span { 
      background-image: url("C:/facultate/an3/web design/motouau/images/slider4.jpg");  
      animation-delay: 18s; 
  }
  .slideshow li:nth-child(5) span { 
      background-image: url("C:/facultate/an3/web design/motouau/images/slider5.jpg");
      animation-delay: 24s; 
  }
  .slideshow li:nth-child(6) span { 
      background-image: url("C:/facultate/an3/web design/motouau/images/slider6.jpg");
      animation-delay: 30s; 
  }


  @keyframes imageAnimation { 
    0% { opacity: 0; animation-timing-function: ease-in; }
    8% { opacity: 1; animation-timing-function: ease-out; }
    17% { opacity: 1 }
    25% { opacity: 0 }
    100% { opacity: 0 }
}


@keyframes titleAnimation { 
    0% { opacity: 0 }
    8% { opacity: 1 }
    17% { opacity: 1 }
    19% { opacity: 0 }
    100% { opacity: 0 }
}

.no-cssanimations .cb-slideshow li span {
	opacity: 1;
}

h2 {
    color: black;
}

img {
    max-width: 100%;
    height: auto;
}
section {
    top: 200px;
    padding: 60px 0;
}

.sec-title{
  position:relative;
  z-index: 1;
  margin-bottom:60px;
}

.sec-title .title{
  position: relative;
  display: block;
  font-size: 18px;
  line-height: 24px;
  color: rgb(150, 24, 24);
  font-weight: 500;
  margin-bottom: 15px;
}

.sec-title h2{
  position: relative;
  display: block;
  font-size:40px;
  line-height: 1.28em;
  color: #222222;
  font-weight: 600;
  padding-bottom:18px;
}

.sec-title h2:before{
  position:absolute;
  content:'';
  left:0px;
  bottom:0px;
  width:50px;
  height:3px;
  background-color:#d1d2d6;
}

.sec-title .text{
  position: relative;
  font-size: 16px;
  line-height: 26px;
  color: #848484;
  font-weight: 400;
  margin-top: 35px;
}

.sec-title.light h2{
  color: #ffffff;
}

.sec-title.text-center h2:before{
  left:50%;
  margin-left: -25px;
}

.btn-style-one{
  position: relative;
  display: inline-block;
  font-size: 17px;
  line-height: 30px;
  color: #ffffff;
  padding: 10px 30px;
  font-weight: 600;
  overflow: hidden;
  letter-spacing: 0.02em;
  background-color: rgb(150, 24, 24);
}

.btn-style-one:hover{
  background-color: rgb(150, 24, 24);
  color: #ffffff;
}
.about-section{
  position: relative;
  padding: 120px 0 70px;
}

.about-section .sec-title{
  margin-bottom: 45px;
}

.about-section .content-column{
  position: relative;
  margin-bottom: 50px;
}

.about-section .content-column .inner-column{
  position: relative;
  padding-left: 30px;
}

.about-section .text{
  margin-bottom: 20px;
  font-size: 16px;
  line-height: 26px;
  color: #848484;
  font-weight: 400;
}

.about-section .btn-box{
  position: relative;
}

.about-section .btn-box a{
  padding: 15px 50px;
}

.about-section .image-column{
  position: relative;
}

.about-section .image-column .text-layer{
    position: absolute;
    right: -110px;
    top: 50%;
    font-size: 325px;
    line-height: 1em;
    color: #ffffff;
    margin-top: -175px;
    font-weight: 500;
}

.about-section .image-column .inner-column{
  position: relative;
  padding-left: 80px;
  padding-bottom: 0px;
}
.about-section .image-column .inner-column h2{
    font-size: 21px;
    letter-spacing: 1px;
    text-align: center;
    color: #fff;
  margin: 0;
}
.about-section .image-column .inner-column span{
    font-size: 16px;
    letter-spacing: 6px;
    text-align: center;
    color: #fff;
  display: block;
  font-weight: 400;
}
.about-section .image-column .inner-column:before{
    content: '';
    position: absolute;
    width: calc(50% + 80px);
    height: calc(100% + 160px);
    top: -80px;
    left: -3px;
    background: transparent;
    z-index: 0;
    border: 44px solid rgb(150, 24, 24);
}

.about-section .image-column .image-1{
  position: relative;
}

.about-section .image-column .image-2 img,
.about-section .image-column .image-1 img{
  box-shadow: 0 30px 50px rgba(8,13,62,.15);
      border-radius: 46px;
}

.about-section .image-column {
  position: relative;
  display: block;
  font-size: 22px;
  color: #191e34;
  font-weight: 400;
  text-align: center;
  height: 100px;
  width: 100px;
  line-height: 100px;
  background-color: #ffffff;
  border-radius: 50%;
  box-shadow: 0 30px 50px rgba(8,13,62,.15);
  -webkit-transition: all 300ms ease;
  -moz-transition: all 300ms ease;
  -ms-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  transition: all 300ms ease;
}